body{
    margin: 0px;
}
/* header styles */
header{
    background-color: black;
    color: goldenrod;
    margin: 0px;
    padding: 10px;
}
ul.nav{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav li.surface{
    display: inline-block;
    font-size:large;
}
.search{
    width: max-content;
    height: 2px;
    position: relative;
    top: 5px;
    display: inline-flex;/* keeps it aligned */
    align-items: center;
    padding: 0px;
    border-radius: 28px;
}
.search.placeholder{
    color: goldenrod;
}
/* Dropdown menu */
.content{
    display: none;
    list-style-type: none;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: black;
    height: 40%;
    width: 20%;
    font-size: large;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content a{
    display: block;
    text-decoration: underline;
    padding: 5px;
    color: goldenrod;
}
.surface:hover .content {
    display: block;
}
/* Unspoken figure */
figure{
    background-color: grey;
}
.Unspoken div{
    display: inline-block;
    width: 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    align-items: center; /* Align items vertically */
    gap: 20px; /* Space between image and text */
}
.image {
    max-width: 25%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
.text{
    width: 100%; /* Make image fill its grid column */
    height: auto; /* Maintain aspect ratio */
    word-wrap: break-word; /* Break long words onto the next line */
    white-space: normal; /* Allow the text to wrap naturally */
}
.text p{
    width: 50%;
}
/* Themes */
ul.Themes{
    list-style-type: none;
}
.Themes li div{
    background-color: blue;
    display: inline-flex;
}
/* Videos */
.Themes li div video{
    width: 200px;
}
/* media queries */
@media screen and (max-width: 657px){
    .container div{
        background-color: aqua;
    }
}